matplotlib==2.2.0
pandas==0.22.0
Quandl==3.3.0
numpy==1.19.2
requests==2.21.0
beautifulsoup4==4.6.0
python_dateutil==2.7.2
scikit_learn==0.24.1
scipy==1.5.2
statsmodels==0.8.0
protobuf==3.15.2
pyparsing==2.1.10
pytz==2020.5
tensorflow==2.4.0
tensorboard==2.4.1
kiwisolver==1.2.0

