matplotlib==2.2.0
pandas==0.22.0
Quandl==3.3.0
numpy==1.14.2
requests==2.20.1
beautifulsoup4==4.6.0
python_dateutil==2.7.2
scikit_learn==0.19.1
keras==2.1.5
tensorflow==1.7.0
scipy==1.0.0
statsmodels==0.8.0
